<head>
	<title>Instagram</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link href="/static/fontawesome/fontawesome-all.css" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="grid.css">
  	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  	<style>
  	    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rouge+Script');

body{
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(231, 227, 228, 0.47);
}
.navbar-brand{
	font-family: 'Rouge Script', cursive;
	font-size: 30px;
	margin-top: -10px;

}
.navbar-brand a{
  color: black;
    }
    .navbar-nav>li>a {
      color: black;
    } 
#navbarstyle{
	justify-content: center;
	padding: 0 10%;
}

.row{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

#button{ 
padding-left: 100px;
}
#userName{
 font-size: 35px;
 font-weight: lighter;
 margin-top: 5px;
  
}
.glyphicon {
  padding-left: 10px;
}

#avatarUser {
  width: 170px;
  height: 170px;
  margin: 50px 180px;
}

.boldNumber {
  font-weight: bold;
}

#topRow{
  margin-top: 50px;
}
.row {
  padding-top: 15px;
 }

#userPosts{
  text-align: center;
  font-size: 20px;  
  
}
#underLine{
  padding-top: 1px;
}

hr.style14 { 
  width: 1000px;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.thumbnail {
  position: relative;
    width: 100%;
    padding-bottom: 100%;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
  	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      		</button>
	      	</div>
	      	<div id="navbarstyle">
				<a href="/" class="navbar-brand"><span class="fab fa-instagram fa-lg"></span> | Instagram</a>
			
			<form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
	     	</form>

				<ul class="nav navbar-nav navbar-right">
 					<li><a href="/explore"><i class="far fa-compass fa-lg"></i></a></li>
					<% if (currentUser) { %>
					    <li><a href="/photos/new"><i class="fa fa-camera fa-lg"></i></a></li>
					    <li><a href="/users/<%= currentUser.username%>"><i class="far fa-user fa-lg"></i></a></li>
					<% } else { %>
                        <li><a href="/">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
	
	
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&amp;subset=vietnamese" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
      /* div {
  border: 1px black solid;
} */

.row{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

#button{ 
padding-left: 100px;
}
#userName{
 font-size: 35px;
 font-weight: lighter;
 margin-top: 5px;
  
}
.glyphicon {
  padding-left: 10px;
}

#avatarUser {
  width: 170px;
  height: 170px;
  margin: 50px 180px;
}

.boldNumber {
  font-weight: bold;
}

#topRow{
  margin-top: 50px;
}
.row {
  padding-top: 15px;
 }

#userPosts{
  text-align: center;
  font-size: 20px;  
  
}
#underLine{
  padding-top: 1px;
}

hr.style14 { 
  width: 1000px;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.thumbnail {
  position: relative;
    width: 100%;
    padding-bottom: 100%;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
  </style>
</head>
<body>

<div class="container">

<div class="row">
  <div class="col-md-4">
    <img src="<%= user.avatar %>" id="avatarUser" class="img-circle">    
  </div>
  <div id="topRow" class="col-md-8">
    <div class="row">
      <div class="col-md-3"><h3 id="userName"><%= user.username %></h3></div> 
      <div id="button" class="col-md-9">
      <% if (!currentUser) {%>
      <% } else if (currentUser.username != user.username) { %> 
        <% if(!checkFollowed) { %>
          <form action="/users/<%= user.username %>/follows" method="POST">
            <button type="submit" class="btn btn-primary btn-lg">Follow</button>
          </form>
        <% } else { %> 
          <form action="/users/<%= user.username %>/follows?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-default btn-lg">Following</button>
          </form>
        <% } %>
      <% } else if (currentUser.username == user.username) { %>
        <button type="button" class="btn btn-default btn-lg"><a href="/users/<%= user.username %>/edit">Chỉnh sửa trang cá nhân</a></button>
        <a href="/users/<%= user.username %>/edit"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
      <% } %>
      </div>    
    </div>
    <div class="row">
      <div class="col-md-2"><span class="boldNumber"><%= data.length %></span> bài viết</div>
      <div class="col-md-3"><span class="boldNumber"><%= nofollowee.nofollowee %></span> người theo dõi</div>
      <div class="col-md-7">Đang theo dõi <span class="boldNumber"><%= nofollower.nofollower %></span> người dùng</div>     
    </div>
    <div class="row">
      <div class="col-md-12"><span class="boldNumber"><%= user.username %></span> nothing to say that much. </div>
    </div>
  </div>
</div>
<hr class="style14">
<div id="underLine"class="row">
  <div class="col-md-12"><h3 id="userPosts">BÀI VIẾT</h3></div>
</div>


<div class="row" display:flex; flex-wrap: wrap;>
    <% data.forEach(function(photo){%>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="image">
              <a href="/photos/<%= photo.id %>">
                <img src="<%= photo.image_url %>" alt="" class="portrait">
              </a>
            </div>
            </div>
        </div> 
    <% }) %>
</div>
